.welcomeContainer {
    padding: 3em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    background-color: #f2f0e4;
}

.welcomeContainer h1 {
    font-size: 1.7em;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    color: var(--textColor);
}

.welcomeInfo {
    height: 253px;
    overflow: auto;
}

.welcomeInfo p {
margin-bottom: 2em;
color: var(--textColor);
font-size: 1em;
font-style: normal;
font-weight: 400;
}



















